{% extends 'base_en.html' %}
{%load tags%}
{%block title%}Cart{%endblock%}
{%block main%}
<h3 class="display-3 text-center mb-3">Cart</h3>
<div class="container">
    {% csrf_token %}
    {%if empty%}
    <h5 class="display-5 text-center mb-3">It's nothing here...</h5>
    {%else%}
    <div class="row">
        <div class="col-lg-8">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="width:40%" class="text-center">Item</th>
                    <th scope="col" style="width:40%" class="text-center">Amount</th>
                    <th scope="col" style="width:20%" class="text-center">Cost</th>
                  </tr>
                </thead>
                <tbody>
                    {%for i in basket%}
                  <tr class="r_{{i.0.pk}}">
                    <td class="text-center">{{i.0.name_en}}</td>
                    <td class="text-center">
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary" onclick="minus({{i.0.id}})" type="button" id="button-addon1">-</button>
                            <input type="number" class="form-control" onchange="change(this.id, this.value, {{i.0.cost}})" id="{{i.0.id}}" min="0" value="{{i.1}}">
                            <button class="btn btn-outline-secondary" onclick="plus({{i.0.id}})" type="button" id="button-addon1">+</button>
                        </div>
                    </td>
                    <td class="text-center ">&euro;<span id="cost_{{i.0.pk}}" class="cost">{{i.0.cost|mult:i.1}}</span></td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
        </div>
        <div class="col-lg-4">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="width:80%" class="text-center">Total</th>
                    <th scope="col" class="text-center"></th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Subtotal</th>
                        <th>&euro;<span id="summary"></span></th>
                    </tr>
                    <tr>
                        <th>Shiping</th>
                        <th><span>FREE</span></th>
                    </tr>
                    

                </tbody>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <th>&euro;<span id="to_this_too"></span></th>
                    </tr>
                  </tfoot>
            </table>
            <div class="text-center">
                <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Make order</button>
            </div>
        </div>
    </div>
    
      {%endif%}
      <div style="padding-bottom:25%"></div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">We can't get online orders now</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              We can't get your order now</br>
              Please write to order@phytogenix.ru or phone +7 (812) 502-12-00
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>
{%endblock%}
{%block js%}
<script>
    function cost_m(){
        let el = document.getElementById('summary')
        let ans = 0.0;
        console.log(document.getElementsByClassName('cost'))
        Array.prototype.slice.call(document.getElementsByClassName('cost')).forEach(
            function(item, index, array){
                ans+=parseFloat(item.innerHTML)
            }
        )
        el.innerHTML = ans.toFixed(2)
        document.getElementById('to_this_too').innerHTML = ans.toFixed(2)
    }
    function minus(id){
        let el = document.getElementById(id)
        let cost_el = document.getElementById('cost_'+id)
        let cost = parseFloat(cost_el.innerHTML)/el.value
        if (el.value >1){
            el.value -= 1;
            let ans = parseFloat(cost_el.innerHTML) - cost
            cost_el.innerHTML = ans.toFixed(2)
        }else{
            del(id)
        }
        send(el.id, el.value)
        cost_m()
    }
    function plus(id){
        let el = document.getElementById(id)
        let cost_el = document.getElementById('cost_'+id)
        let cost = parseFloat(cost_el.innerHTML)/el.value
        let ans = parseFloat(cost_el.innerHTML) + cost
        cost_el.innerHTML = ans.toFixed(2)
        el.value = parseInt(el.value)+1
        send(el.id, el.value)
        cost_m()
    }
    function del(id){
        let el = document.getElementById(id)
        console.log('r_'+id)
        document.getElementsByClassName('r_'+id)[0].remove()
        $.ajax({
            url: '/delete/'+id.toString(),
            data: {
                'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            },
            dataType: 'json',
            success: function(data){console.log(data)}
          })
    }
    function send(id, value){
        $.ajax({
            url: '/change_count/'+id.toString()+'/'+value.toString(),
            data: {
                'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            },
            dataType: 'json',
            success: function(data){console.log(data)}
          })
    }
    function change(id, value, cost){
        send(id, value)
        let cost_el = document.getElementById('cost_'+id)
        let ans = cost*parseFloat(value)
        cost_el.innerHTML = ans.toFixed(2)
        cost_m()
    }
    
    cost_m()
</script>
{%endblock%}
{% block to_ru %}{%url "basket_ru"%}{% endblock to_ru %}
