{% extends 'base_ru.html' %}
{% load static %}
{% block title %}Conform delete{% endblock %}
{% block main %}
        <div class="container">
            <div class="card my-5">
                <div class="card-body">
                    <p>Вы уверены, что хотите удалить новости?</p>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="to_del" value="{{ to_del }}">
                        <button type="submit" class="btn btn-danger">Подтвердить</button>
                        <a href="{% url 'news_manage' %}" class="btn btn-success">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
        

{% endblock %}